<a href="https://colab.research.google.com/github/bijaykahar/House-Price-Predection/blob/master/merging_Data_Sets_as_per_photo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
bru = pd.read_csv('/content/drive/My Drive/Internship_DataMites/Resampled Data /bureau100000.csv')
del bru['Unnamed: 0']
bru.columns

In [ ]:
App_train = pd.read_csv('/content/drive/My Drive/Internship_DataMites/Resampled Data /TrainingData.csv')
del App_train['Unnamed: 0']
App_train.columns

In [ ]:
prev_bal = pd.read_csv('/content/drive/My Drive/Internship_DataMites/Resampled Data /prev_bal100000.csv')
del prev_bal['Unnamed: 0']
prev_bal.columns

In [18]:
bru_bal = pd.read_csv('/content/drive/My Drive/Internship_DataMites/Resampled Data /bru_bal100000.csv')
del bru_bal['Unnamed: 0']
bru_bal.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [ ]:
POS_CASH = pd.read_csv('/content/drive/My Drive/Internship_DataMites/Resampled Data /POS_CASH_bal100000.csv')
del POS_CASH['Unnamed: 0']
POS_CASH.head()

In [15]:
cre_card = pd.read_csv('/content/drive/My Drive/Internship_DataMites/Resampled Data /cre_card_bal100000.csv')
del cre_card['Unnamed: 0']
cre_card.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [ ]:
inst_pay = pd.read_csv('/content/drive/My Drive/Internship_DataMites/Resampled Data /inst_paymnt100000.csv')
del inst_pay['Unnamed: 0']
inst_pay.head()

In [ ]:
merge1 = App_train.merge(prev_bal, left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merge1.columns

In [ ]:
merge2 = merge1.merge(bru, left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merge2.columns

In [ ]:
merge3 = merge2.merge(POS_CASH, left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merge3.columns

In [ ]:
merge4 = merge3.merge(cre_card, left_on='SK_ID_BUREAU', right_on='SK_ID_BUREAU')
merge4.columns

In [ ]:
merge5 = merge4.merge(inst_pay, left_on='SK_ID_CURR', right_on='SK_ID_CURR')
merge5.columns

In [19]:
merge6 = merge5.merge(bru_bal, left_on='SK_ID_BUREAU', right_on='SK_ID_BUREAU')
merge6.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE_x', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT_x', 'AMT_ANNUITY_x',
       ...
       'STATUS_x', 'SK_ID_PREV', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT', 'MONTHS_BALANCE', 'STATUS_y'],
      dtype='object', length=192)

In [20]:
merge6['TARGET'].unique()

array([0])